
.wrapper {
  height: 80%;
}
.page-content {
  height: 100vh;
}
.text {
  text-shadow: 0 0 10px rgba(0,0,0,0.35);
}
.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}